body {
 margin: 0;
}

#container1 {
  padding: 20;
  padding-left: 60;
  padding-right: 60;
  font-family: arial;
}

h1 {
  font-family: arial;
}

#container2 {
  padding: 20;
  padding-left: 60;
  padding-right: 60;
  color: white;
  background-color: #cc0000;
  font-family: arial;
}

#container3 {

}

img {
    max-width: 100%;
    max-height: 100%;
}

#container4 {
  padding: 20;
  padding-left: 60;
  padding-right: 60;
  font-family: Arial;
  color: white;
  background-color: black
 
}

#container6 {
  padding: 20;
  padding-left: 60;
  padding-right: 60;
  font-family: arial;
}

.navbar {
  overflow: hidden;
  font-family: arial;
}

.navbar a {
  float: left; 
  display: block;
  color: black;
  text-align: center; 
  padding: 14px 20px;
  text-decoration: none; 
}

.navbar a.right {
  float: right; 
}

.navbar a:hover {
  background-color: yellow; 
  color: black; 
}

.blinking{
    animation:blinkingText 2s infinite;
}
@keyframes blinkingText{
    0%{     color: #white;    }
    49%{    color: #white; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #white;    }
}

a {
  color: black;
  text-decoration: none;
  font-family: monospace;
}

a:visited {
  color: black;
  text-decoration: none;
  font-family: monospace;
}

a:hover {
  color: hotpink;
  text-decoration: none;
  font-family: monospace;
}

a:active {
  color: black;
  text-decoration: none;
  font-family: monospace;
}
