body {
 margin: 0;
}

.navbar {
  overflow: hidden;
  font-family: arial;
}

.navbar a {
  float: left; 
  display: block;
  color: black;
  text-align: center; 
  padding: 14px 20px;
  text-decoration: none; 
}


.navbar a:hover {
  background-color: yellow; 
  color: black; 
}

#container1 {
  padding: 20;
  padding-left: 60;
  padding-right: 60;
  font-family: arial;
}

h1 {
  font-family: arial;
}

#container2 {
  padding: 20;
  padding-left: 60;
  padding-right: 60;
  color: white;
  background-color: #cc0000;
  font-family: arial;
}

#container3 {

}

img {
    max-width: 100%;
    max-height: 100%;
}

#container4 {
  padding: 20;
  padding-left: 60;
  padding-right: 60;
  font-family: Arial;
  color: white;
  background-color: black
 
}

#container6 {
  padding: 20;
  padding-left: 60;
  padding-right: 60;
  font-family: arial;
}

#stars {
    padding: 20;
  padding-left: 60;
  padding-right: 60;
  background-color: black;
  color: white;
  font-family: arial;
}

#stars2 {
  display: flex;
  justify-content: space-around;
  background-color: black;
  font-family: arial;
    padding: 20;
  padding-left: 60;
  padding-right: 60;
}

#left1 {
  background-color: black;
  width: 40%;
  color: white;
}

#right2 {
  background-color: black;
  width: 40%;
  color: white;
}

#whacktitle {
  padding: 20;
  padding-left: 60;
  padding-right: 60;
  font-family: arial;

}

#whack {
   padding: 20;
  padding-left: 200;
  padding-right: 200;
  font-family: arial;
}

#whackgen {
  background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(19,73,128,1) 32%, rgba(133,153,173,1) 100%);
}

#container7 {
  padding: 20;
  padding-left: 60;
  padding-right: 60;
  font-family: arial;
  background-color: #8599ad;
}

#container8 {
  display: flex;
  justify-content: space-around;
  background-color: #8599ad;
  font-family: arial;
}

#left {
  background-color: #8599ad;
  width: 40%;
}

#right {
  background-color: #8599ad;;
  width: 40%;
}

#container9 {
  padding: 20;
  padding-left: 60;
  padding-right: 60;
  background-color: #8599ad;
  font-family: arial;
}

#container10 {
  padding: 20;
  padding-left: 60;
  padding-right: 60;
  background-color: #8599ad;
  font-family: arial;
   height: 200px;
  overflow-y: scroll;
}

#container11 {
   padding: 20;
  padding-left: 60;
  padding-right: 60;
  background-color: #8599ad;
  font-family: arial;
}

#container12 {
  padding: 20;
  padding-left: 60;
  padding-right: 60;
  color: #99ff99;
  background-color: #cc6699;
  font-family: arial;
}

#lovespell {
  display: flex;
  justify-content: space-around;
  background-color: #cc6699;
  font-family: arial;
  color: #99ff99;
}

#l1 {
  background-color: #cc6699;
  width: 40%;
}

#l2 {
  background-color: #cc6699;
  width: 40%;
}

#container13 {
  background: rgb(251,226,0);
background: linear-gradient(0deg, rgba(251,226,0,1) 0%, rgba(204,102,153,1) 100%);
}

#container14 {
  padding: 20;
  padding-left: 60;
  padding-right: 60;
color: #fb00b4;
  background-color: #fbe200;
  font-family: arial;
}

#colorchange {
  background: rgb(243,247,192);
background: linear-gradient(0deg, rgba(243,247,192,1) 0%, rgba(251,226,0,1) 100%);
}

#plaited {

  padding: 20;
  padding-left: 60;
  padding-right: 60;
background-color: #f3f7c0;
 
  font-family: arial;

}

#plaitedrug {
  display: flex;
  justify-content: space-around;
  background-color: #f3f7c0;
  font-family: arial;
  color: #99ff99;
}

#rugbreak {
  background-color: #f3f7c0;
}

#r1 {
  background-color: ;
  width: 40%;
}

#r2 {
  background-color: ;
  width: 40%;
}

#ack {
  text-align: center;
  padding-left: 100;
  padding-right: 100;
  padding-bottom: 10;
  font-family: arial;
}


#ack1 {
  text-align: center;
  padding-left: 300;
  padding-right: 300;
  padding-bottom: 10;
  font-size: 75%;
  font-family: arial;
}

#ack2 {
  text-align: center;
  padding-left: 300;
  padding-right: 300;
   padding-bottom: 10;
  font-size: 75%;
  font-family: arial;
}

#ack3 {
  text-align: center;
  padding-left: 300;
  padding-right: 300;
   padding-bottom: 10;
  font-size: 75%;
  font-family: arial;
}

#ack4 {
  text-align: center;
  padding-left: 300;
  padding-right: 300;
   padding-bottom: 10;
  font-size: 75%;
  font-family: arial;
}

#ack5 {
  text-align: center;
  padding-left: 300;
  padding-right: 300;
   padding-bottom: 10;
  font-size: 75%;
  font-family: arial;
}

#ack6 {
  text-align: center;
  padding-left: 300;
  padding-right: 300;
   padding-bottom: 10;
  font-size: 75%;
  font-family: arial;
}

#ack7 {
  text-align: center;
  padding-left: 300;
  padding-right: 300;
   padding-bottom: 10;
  font-size: 75%;
  font-family: arial;
}

#ack8 {
  text-align: center;
  padding-left: 300;
  padding-right: 300;
   padding-bottom: 10;
  font-size: 75%;
  font-family: arial;
}

#ack9 {
  text-align: center;
  padding-left: 300;
  padding-right: 300;
   padding-bottom: 10;
  font-size: 75%;
  font-family: arial;
}

#ack10 {
  text-align: center;
  padding-left: 300;
  padding-right: 300;
   padding-bottom: 10;
  font-size: 75%;
  font-family: arial;
}

.navbar {
  overflow: hidden;
  font-family: arial;
}

.navbar a {
  float: left; 
  display: block;
  color: black;
  text-align: center; 
  padding: 14px 20px;
  text-decoration: none; 
}

.navbar a.right {
  float: right; 
}

.navbar a:hover {
  background-color: yellow; 
  color: black; 
}

.blinking{
    animation:blinkingText 2s infinite;
}
@keyframes blinkingText{
    0%{     color: #white;    }
    49%{    color: #white; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #white;    }
}

a {
  color: black;
  text-decoration: none;
  font-family: arial;
}

a:visited {
  color: black;
  text-decoration: none;
  font-family: arial;
}

a:hover {
  color: hotpink;
  text-decoration: none;
  font-family: arial;
}

a:active {
  color: black;
  text-decoration: none;
  font-family: arial;
}
